/* ficha.css */
.ficha {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: right;
  align-items: top;
  z-index: 999;
  text-align: left;
}

.ficha-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.ficha-close {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}


.person-name {
  font-size: 2.3rem;
  margin: 0;
  
}

.apellido {
  font-weight: 700;
  display: block;
}

.nombres {
  color: #888; 
  font-size: 1.8rem; 
  font-weight: 400;
  display: block;
}

.puesto{
    text-align: right;
    margin-top: -0.7rem;
}

.ficha-info{
  padding: 1rem;
}

.ficha-buttons{
  padding-top: 1rem;
  display: flex;
  justify-content: right;
}

.ficha-buttons button {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

/* Botón guardar */
.ficha-buttons button {
  background-color: #007bff;
  color: white;
}

.ficha-buttons button:hover {
  background-color: #0056b3;
}