.header {
  height: 50px;
  background-color: #1f2937;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  padding: 0.2rem 1.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.header-user {
  color: white;
}

.header-user {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 0.5rem;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.user-dropdown button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.user-dropdown button:hover {
  background-color: #f0f0f0;
}

/* Laptops medianas y tablets horizontales */
@media (max-width: 1280px) {
  .header-title{
    display: none;
  }
  .header{
    justify-content: right;
  }

  .header {
  height: 80px;
  }

  .header-user {
    font-size: 1.9rem;
  }
}

/* Tablets verticales y notebooks chicas */
@media (max-width: 1024px) {
  /* SIN CAMBIOS */
}

/* Tablets chicas / celulares grandes */
@media (max-width: 768px) {
  /* SIN CAMBIOS */
}

/* Celulares comunes */
@media (max-width: 480px) {
  /* SIN CAMBIOS */
}