.table-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-title{
    font-size: 1.7rem;
}

.table-options{
    display: flex;
    justify-content: right;
}

.table-busqueda {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 50%;
}

.table-agregar {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.table-agregar:hover {
  background-color: #1d4ed8;
}

.table-lista {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1rem;
  max-height: 50vh;
  overflow-y: auto;
  min-height: 50vh;
}

.table-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-style: italic;
  height: 50px;
}

.table-item {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-nombre {
  font-weight: 600;
  color: #111827;
}

.table-info {
  color: #6b7280;
}

@media (max-width: 640px){
  .table-title{
    display: none;
  }
  .table-info{
    display: none;
  }
  .table-busqueda {
    width: 100%;
  }
  .table-lista {
    gap: 0.5rem;
  }
  .table-item {
    padding: 1rem 0.1rem;
    display: flex;
    justify-content: center;
  }
}