/* === ESTILOS BASE === */

.card {
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 100%;
  height: 25vh;
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 600px;
  opacity: 0.85;
}

.card2{
  background-color: #1f2937;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 100%;
  height: 15vh;
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 600px;
  opacity: 0.85;
}


.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.card2:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  opacity: 1;
}


.card-title {
  font-size: 1.8rem;
  color: #6b7280;
  margin: 0;
  padding: 0;
}

.card-title2 {
  font-size: 1.8rem;
  color: #fff;
  margin: 0;
  padding: 0;
}


.card-logo{
  width: 15vh;
}

.card-section {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* evita que contenido se desborde */
}

.card-section-line{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.card-value {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #1f2937;
  padding: 0.15rem 0.8rem;
  border-radius: 0.8rem;
  margin-top: 0.5rem;
}



.card-route {
  text-decoration: none;
}

/* Celulares */
@media (max-width: 767.98px) {
  .card {
    height: auto;
    padding: 1rem;
    margin: 1rem;
  }

  .card-title {
    font-size: 1.4rem;
  }

  .card-value {
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
  }

  .card2{
  border-radius: 1rem;
  padding: 0.3rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 100%;
  height: 15vh;
  margin: 0.2vh auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 150px;
  }

  .card2:hover{
    .card-logo{
      display: none;
    }
    .card-title2{
      display: flex;
      font-size: 1.2rem;
    }
  }

  .card-title2{
    display: none;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  .card {
    max-width: 450px;
    height: 22vh;
    padding: 0.75rem;
  }

  .card-title {
    font-size: 1.6rem;
  }

  .card-value {
    font-size: 1.4rem;
    padding: 0.3rem 0.7rem;
  }
}

/* Escritorio */
@media (min-width: 992px) {
  .card {
    max-width: 600px;
    height: 25vh;
    padding: 1rem;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .card-value {
    font-size: 1.6rem;
    padding: 0.35rem 0.8rem;
  }
}
