.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Formato de paginas en general*/
.page{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items:first baseline;
    overflow-y: auto; 
    overflow-x: hidden; 
}

/* Logo de cargas */
.spinner {
  animation: spin 1s linear infinite;
  font-size: 1.2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

