.logo-empresa{
    display: flex;
}

.logo-img{
    max-width: 4rem;
    background-color: #f3f3f3;
    border-radius: 50%;
}

.logo-img-only{
    max-width: 6rem;
}

.logo-name{
    margin-left: .5rem;
}

.logo-img-small{
    width: 1.8rem;
    background-color: #f3f3f3;
    border-radius: 50%;
}

.logo-name{
    margin-left: .5rem;
}