.section-container {
  padding: 1.5rem;
  
  gap: 2rem;
  width: 100%;
}

.section-banner{
  width: 100%;
  height: 35vh;
  background-image: url("../../assets/images/truckgrey.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

.section-options{
  width: 100%;
  height: 55vh;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections-options-row{
  display: flex;
  justify-content: space-around;
  width: 100%;  
  gap:6px;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.5rem;
}

.section-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
width: 100%;
}


@media (min-width: 640px) {
  .section-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .section-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
