/*
.section-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
*/

.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.5rem;
}

.section-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}


@media (min-width: 640px) {
  .section-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .section-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
