.table-scroll-wrapper {
  width: 100%;
  overflow: hidden;
  padding-right: 0;
}

.table-lista {
  width: 100%;
  border-collapse: collapse;
}

.table-titles th {
  padding: 8px;
  background: #f2f2f2;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.table-item {
  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
}

.table-item:hover {
  background: #f8f8f8;
}

.table-item td {
  padding: 6px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.off-responsive {
  display: none;
}

@media (min-width: 768px) {
  .off-responsive {
    display: table-cell;
  }
  .on-responsive {
    display: table-cell;
  }
}

.table-body-wrapper {
  height: 50vh;        
  overflow-y: auto;    
  overflow-x: hidden;
}

.table-body-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.table-body-wrapper {
  scrollbar-width: none;
}

.ReactVirtualized__Grid__innerScrollContainer,
.table-body-wrapper > div {
  display: block !important;
}
