.table-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ok-logo{
  color: #008000;
}

.table-scroll-wrapper {
  width: 100%;
  overflow: hidden;
}

.table-body-wrapper {
  max-height: 50vh; 
  overflow-y: auto;
  overflow-x: hidden;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.table-title {
  font-size: 1.7rem;
}

.table-options {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.table-checked{
  width: 100%;
  display: flex;
  justify-content: right;
}

.table-check{
  margin-right: 1rem;
  margin-top: -1rem;
  font-weight:800;
  color: white;
  font-size: large;
}

.check-input{
  margin-right: 0.3rem;
}

.table-topheader{
  display: flex;
  justify-content: center;
}

.table-logo-box{
  background-color: black;
  width: max-content;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  border-top-left-radius: 2.2rem;
  border-bottom-left-radius: 2.2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  font-size: x-large;
}

.table-logo{
  padding: 0.5rem;
  max-width: 3rem;
  margin-right: 1rem;
  
}

.table-busqueda {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 50%;
  min-width: 200px;
  max-width: 100%;
}

.table-agregar {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: nowrap;
}

.table-agregar:hover {
  background-color: #1d4ed8;
}

.table-lista {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* para que las columnas coincidan */
}

.table-lista th,
.table-lista td {
  padding: 8px; 
  text-align: center;
}

.txt-satelital{
  color: #fff;
  font-weight: bolder;
}

.table-titles{
  background-color: #f3f4f6;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-body{
  max-height: 50vh;     /* Altura máxima: 50% del alto de la ventana */
  min-height: 50vh;     /* Altura mínima: también 50% => altura fija */
  overflow-y: auto;     /* Muestra scroll vertical si es necesario */
}

.table-item {
  color: #555;
  font-style: italic;
  height: 50px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
  opacity: 0.9;
}

.table-item:hover{
  color: black;
  opacity: 1;
}
/*

.table-dni{
  font-weight: 500;
  color: #111827;
  flex: 0.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-nombre {
  font-weight: 400;
  color: #111827;
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-info {
  color: #6b7280;
  flex: 1;
  white-space: nowrap;
}

*/

/* Celulares */
@media (max-width: 640px) {
  .table-title {
    display: none;
  }
  .table-info {
    display: none;
  }
  .table-busqueda {
    width: 100%;
  }
  .table-lista {
    gap: 0.5rem;
  }
  .table-item {
    padding: 1rem 0.5rem;
    flex-direction: column;
    max-height: 80px;
    height: auto;
    align-items: flex-start;
    font-style: normal;
  }
  .table-nombre {
    white-space: normal;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0.25rem;
  }
  .table-dni{
    display: none;
  }
}

/* Tablets */
@media (min-width: 641px) and (max-width: 991.98px) {
  .table-title {
    font-size: 1.5rem;
  }
  .table-info {
    font-size: 0.9rem;
  }
  .table-dni{
    font-size: 1rem;
  }
  .table-busqueda {
    width: 60%;
    min-width: 250px;
  }
  .table-agregar {
    padding: 0.5rem 0.9rem;
    font-size: 0.95rem;
  }
  .table-item {
    height: 60px;
    padding: 0.8rem 1rem;
  }
}

/* Escritorio */
@media (min-width: 992px) {
  .table-title {
    font-size: 1.7rem;
  }
  .table-info {
    font-size: 1rem;
  }
  .table-busqueda {
    width: 50%;
  }
  .table-agregar {
    padding: 0.6rem 1rem;
    font-size: 1rem;
  }
  .table-item {
    height: 50px;
    padding: 1rem 1.5rem;
  }
}
